# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [1]:
def function_1_1(my_list, n):
    return sum(filter(lambda x: x <= n, my_list))

In [3]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [6]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [7]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [8]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [9]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [10]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

#### Значение для формы

In [11]:
import random

random.seed(42)
print(function_1_1([random.randint(0, 1000) for _ in range(10000)], 700))

2496584

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [21]:
def function_1_2(my_list, dept):
    d = {}
    output = []
    for i in my_list:
        if i[0] in d:
            d[i[0]] += i[1]
        else:
            d[i[0]] = i[1]
    sorted_d = sorted(d.items(), key=lambda kv: kv[1])
    print(sorted_d)
    for i in sorted_d:
        if i[1] > dept:
            output.append(i[0])
    print(output)
    return output

In [30]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Petrov','Ivanov', 'Sidorov']

[('Petrov', 2), ('Ivanov', 3), ('Sidorov', 4)]
['Petrov', 'Ivanov', 'Sidorov']

True

In [23]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

[('Petrov', 2), ('Ivanov', 3), ('Sidorov', 4)]
['Ivanov', 'Sidorov']

True

In [24]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

[('Petrov', 2), ('Ivanov', 3), ('Sidorov', 4)]
['Sidorov']

True

In [25]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

[('Petrov', 2), ('Ivanov', 3), ('Sidorov', 4)]
[]

True

In [26]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

[('Ivanov', 2), ('Petrov', 2), ('Sidorov', 4)]
['Sidorov']

True

In [27]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

[('Ivanov', 3), ('Petrov', 6)]
['Ivanov', 'Petrov']

True

In [28]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

[('Ivanov', 3), ('Petrov', 6)]
['Petrov']

True

#### Значение для формы

In [31]:
import random
import numpy as np


random.seed(42)
print(','.join(function_1_2([
    (str(random.randint(1, 20)), random.randint(1, 1000) )
    for _ in range(1000)
], 25000)))

[('17', 19224), ('12', 19542), ('7', 19727), ('6', 20187), ('16', 20630), ('1', 20896), ('2', 21797), ('13', 22226), ('15', 22384), ('20', 23753), ('3', 25262), ('5', 26022), ('19', 26422), ('11', 26566), ('10', 27819), ('9', 28964), ('18', 29253), ('8', 29651), ('14', 30696), ('4', 32921)]
['3', '5', '19', '11', '10', '9', '18', '8', '14', '4']
3,5,19,11,10,9,18,8,14,4

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь циклами

In [10]:
def function_2_1(n):
    if n == 0:
        return 1
    else:
        return function_2_1(n - 1) * n

In [11]:
function_2_1(3) == 6

True

In [12]:
function_2_1(5) == 120

True

In [13]:
function_2_1(9) == 362880

True

In [14]:
function_2_1(13) == 6227020800

True

#### Значение для формы

In [15]:
print(function_2_1(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [20]:
def mean(l):
    return sum(l)/len(l)

def function_2_2(list1, list2):
    f_array = [mean, min, max]
    l = []
    for f in f_array:
        if f(list1) < f(list2):
            l.append('First')
        if f(list1) > f(list2):
            l.append('Second')
        if f(list1) == f(list2):
            l.append('Equal')
    print (l)
    return tuple(l)

In [21]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

['Equal', 'First', 'Second']

True

In [22]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

['First', 'First', 'First']

True

In [23]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

['Equal', 'Second', 'First']

True

In [24]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

['First', 'First', 'Equal']

True

#### Значение для формы

In [25]:
import random

random.seed(47)
print(','.join(function_2_2(
    [random.randint(0, 100000) for _ in range(1000)],
    [random.randint(0, 100000) for _ in range(1000)]
)))

['Second', 'First', 'Second']
Second,First,Second

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [48]:
sorted([3,2,3,1,10,2,5,8], reverse = True)[:2]

[10, 8]

In [51]:
def function_3_1(my_list, n, k):
    return sum(sorted(filter(lambda x: x <= n, my_list), reverse = True)[:k])

In [54]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [52]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [53]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [55]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [56]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [57]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [58]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [59]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [60]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [61]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [62]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

#### Значение для формы

In [63]:
import random

random.seed(42)
print(function_3_1([random.randint(0, 1000) for _ in range(10000)], 700, 300))

205778

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [82]:
from math import sqrt
from itertools import count, islice

def function_3_2(n):
    return [i for i in range(n + 1) if i > 1 and all(i%j for j in islice(count(2), int(sqrt(i)-1)))]

In [83]:
function_3_2(3) == [2, 3]

True

In [84]:
function_3_2(10) == [2, 3, 5, 7]

True

In [85]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

#### Значение для формы

In [86]:
print(sum(function_3_2(10000)))

5736396

# По хардкору

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств. 


Что здесь ожидается увидеть? Моя функция возвращает набор всех подмножеств.

In [159]:
function_4_1(set(range(3)))

[(2,), (0,), (1,), (0, 1), (0, 2), (1, 2), (0, 1, 2)]

In [158]:
function_4_1(set(range(1)))

[{0}]

In [157]:
function_4_1(set(range(2)))

[(0,), (1,), (0, 1)]

In [156]:
import itertools

def function_4_1(my_set):
    all_subsets = list()
    if len(my_set) == 1:
        all_subsets.append(my_set)
        return all_subsets
    for i in range(len(my_set) + 1)[1:]:
        for j in set(itertools.combinations(my_set, i)):
            all_subsets.append(j)
    return all_subsets

In [154]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

#### Значение для формы

In [160]:
print(sum([
    len(subset) - sum(subset) + sum(subset) ** 2
    for subset in function_4_1(set(range(2, 21, 3)))
]))

220416

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [ ]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, n))

def function_4_2(n):

In [ ]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [ ]:
check_4_2(10, function_4_2(10))

In [ ]:
check_4_2(11690, function_4_2(11690))

In [ ]:
check_4_2(254242, function_4_2(254242))

#### Значение для формы

In [ ]:
print(sum(
    (c + 1) ** (p - 1) * c - p
    for p, c in function_4_2(7648)
))